$primary-color: rgb(0, 0, 0);
$background-color: #ffffff;

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0px;
}

.popupContainer {
  align-items: center;
  background-color: $background-color;
  color: $primary-color;
  display: flex;
  font-size: 18px;
  height: 100px;
  justify-content: center;
  width: 450px;
  flex-direction: column;
}

.link {
  font-size: 12px;
}

.option {
  cursor: pointer;
}
